{% extends 'base.html' %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&family=Water+Brush&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  </head>

  <body>

    <div class="container-fluid" style="padding-left: 40px; padding-right: 40px;">
    
      <div class="row">
        <div class="title">
            <h3>Dashboard</h3>
        </div>

          <!-- Informasi Total -->
          <div class="col-md-12">
            <div class="row" >
                <div class="col-md-4 mb-3">
                    <div class="card shadow">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <div class="number">{{total_tps}}</div>
                            <div class="description">TPS Terdaftar</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card shadow">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <div class="number">{{total_pemilih}}</div>
                            <div class="description">Relawan Terdaftar</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3" >
                        <div class="card shadow">
                            <!-- <img src="..." class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <div class="number">{{target_capaian_pemilih|floatformat:3}}%</div>
                                <div class="description">Target Relawan Terdaftar</div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card shadow" >
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <div class="number">{{total_dpt}}</div>
                        <div class="description">DPT Terdaftar</div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-3">
                    <div class="card shadow">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <div class="number">{{total_koordinator}}</div>
                        <div class="description">Koordinator TPS Terdaftar</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card shadow">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <div class="number">{{target_capaian_koordinator|floatformat:3}}%</div>
                            <div class="description">Target Koordinator TPS Terdaftar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Dukungan per Kabupaten</h2>
            <div class="column">
                <div class="row">
                    {% for kabupaten, info in informasi_kabupaten.items %}
                    <div class="col-md-4">
                        <div class="card shadow">
                            <div class="card-wilayah">
                                <h3>Kabupaten {{ kabupaten|title }}</h3>
                                <div class="data-table">
                                    <div>
                                        <p class="card-text">Dukungan Koordinator TPS</p>
                                        <p class="card-text">Target Koordinator TPS</p>
                                        <p class="card-text">Persentase Koordinator TPS</p>
                                        <p class="card-text">Dukungan Relawan</p>
                                        <p class="card-text">Target Relawan</p>
                                        <p class="card-text">Persentase Relawan</p>
                                    </div>
                                    <div>
                                        <p class="card-text">:  {{ info.dukungan_koordinator }}</p>
                                        <p class="card-text">:  {{ info.target_koordinator }}</p>
                                        <p class="card-text">:  {{ info.persentase_koordinator|floatformat:3 }}%</p>
                                        <p class="card-text">:  {{ info.dukungan_pemilih }}</p>
                                        <p class="card-text">:  {{ info.target_pemilih }}</p>
                                        <p class="card-text">:  {{ info.persentase_pemilih|floatformat:3 }}%</p>
                                    </div>
                                </div>

                                <canvas id="myChart-{{ info.id }}" style="width:100%;max-width:800px"></canvas>
                                <script>
                                    var xValues = [
                                        "Dukungan Koordinator TPS",
                                        "Target Koordinator TPS", 
                                        "Dukungan Relawan", 
                                        "Target Relawan", 
                                        ];
                                    var yValues = [
                                        "{{ info.dukungan_koordinator }}",
                                        "{{ info.target_koordinator }}",
                                        "{{ info.dukungan_pemilih }}",
                                        "{{ info.target_pemilih }}",

                                    ];
                                    var barColors = ["red", "green", "blue", "orange", ];
                    
                                    new Chart("myChart-{{ info.id }}", {
                                        type: "horizontalBar",
                                        data: {
                                            labels: xValues,
                                            datasets: [{
                                                backgroundColor: barColors,
                                                data: yValues
                                            }]
                                        },
                                        options: {
                                            legend: { display: false },
                                            title: {
                                                display: true,
                                                text: "Data Capaian Kabupaten {{ kabupaten|title }}"
                                            },
                                            scales: {}
                                        }
                                    });
                                </script>
    
                                <button class="detail-kecamatan" data-target="{{ info.id }}">Detail Kecamatan</button>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="panel-kecamatan" style="display: none;" data-target="{{ info.id }}">
                        <div class="column">
                            <div class="row">
                                <h6 class="card-subtitle mb-2 text-muted">Detail Kecamatan di Kabupaten {{ kabupaten|title }}</h6>
                                {% for kecamatan, kec_info in info.kecamatan.items %}
                                <div class="col-md-4">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <h4>Kecamatan {{ kecamatan|title }}</h4>
                                            <div class="data-table">
                                                <div>
                                                    <p class="card-text">Dukungan Koordinator TPS</p>
                                                    <p class="card-text">Target Koordinator TPS</p>
                                                    <p class="card-text">Persentase Koordinator TPS</p>
                                                    <p class="card-text">Dukungan Relawan</p>
                                                    <p class="card-text">Target Relawan</p>
                                                    <p class="card-text">Persentase Relawan</p>
                                                </div>
                                                <div>
                                                    <p class="card-text">:  {{ kec_info.dukungan_koordinator }}</p>
                                                    <p class="card-text">:  {{ kec_info.target_koordinator }}</p>
                                                    <p class="card-text">:  {{ kec_info.persentase_koordinator|floatformat:3 }}%</p>
                                                    <p class="card-text">:  {{ kec_info.dukungan_pemilih }}</p>
                                                    <p class="card-text">:  {{ kec_info.target_pemilih }}</p>
                                                    <p class="card-text">:  {{ kec_info.persentase_pemilih|floatformat:3 }}%</p>
                                                </div>
                                            </div>

                                            <canvas id="myChart-{{ kec_info.id }}" style="width:100%;max-width:800px"></canvas>
                                            <script>
                                                var xValues = [
                                                    "Dukungan Koordinator TPS",
                                                    "Target Koordinator TPS", 
                                                    "Dukungan Relawan", 
                                                    "Target Relawan", 
                                                    ];
                                                var yValues = [
                                                    "{{ kec_info.dukungan_koordinator }}",
                                                    "{{ kec_info.target_koordinator }}",
                                                    "{{ kec_info.dukungan_pemilih }}",
                                                    "{{ kec_info.target_pemilih }}",

                                                ];
                                                var barColors = ["red", "green", "blue", "orange", ];
                                
                                                new Chart("myChart-{{ kec_info.id }}", {
                                                    type: "horizontalBar",
                                                    data: {
                                                        labels: xValues,
                                                        datasets: [{
                                                            backgroundColor: barColors,
                                                            data: yValues
                                                        }]
                                                    },
                                                    options: {
                                                        legend: { display: false },
                                                        title: {
                                                            display: true,
                                                            text: "Data Capaian Kecamatan {{ kecamatan|title }}"
                                                        },
                                                        scales: {}
                                                    }
                                                });
                                            </script>
    
                                            <button class="detail-kelurahan" data-target="{{ kec_info.id }}">Detail Kelurahan</button>
                                        </div>
                                    </div>
                                </div>
                                
    
                                <div class="panel-kelurahan" style="display: none;" data-target="{{ kec_info.id }}">
                                    <div class="column">
                                        <div class="row">
                                            <h6 class="card-subtitle mb-2 text-muted">Detail Kelurahan di Kecamatan {{ kecamatan|title }}</h6>
                                            {% for kelurahan, kel_info in kec_info.kelurahan.items %}
                                            <div class="col-md-4">
                                                <div class="card shadow">
                                                    <div class="card-body">
                                                        <h4>Kelurahan {{ kelurahan|title }}</h4>
                                                        <div class="data-table">
                                                            <div>
                                                                <p class="card-text">Dukungan Koordinator TPS</p>
                                                                <p class="card-text">Target Koordinator TPS</p>
                                                                <p class="card-text">Persentase Koordinator TPS</p>
                                                                <p class="card-text">Dukungan Relawan</p>
                                                                <p class="card-text">Target Relawan</p>
                                                                <p class="card-text">Persentase Relawan</p>
                                                            </div>
                                                            <div>
                                                                <p class="card-text">:  {{ kel_info.dukungan_koordinator }}</p>
                                                                <p class="card-text">:  {{ kel_info.target_koordinator }}</p>
                                                                <p class="card-text">:  {{ kel_info.persentase_koordinator|floatformat:3 }}%</p>
                                                                <p class="card-text">:  {{ kel_info.dukungan_pemilih }}</p>
                                                                <p class="card-text">:  {{ kel_info.target_pemilih }}</p>
                                                                <p class="card-text">:  {{ kel_info.persentase_pemilih|floatformat:3 }}%</p>
                                                            </div>
                                                        </div>

                                                        <canvas id="myChart-{{ kel_info.id }}" style="width:100%;max-width:800px"></canvas>
                                                        <script>
                                                            var xValues = [
                                                                "Dukungan Koordinator TPS",
                                                                "Target Koordinator TPS", 
                                                                "Dukungan Relawan", 
                                                                "Target Relawan", 
                                                                ];
                                                            var yValues = [
                                                                "{{ kel_info.dukungan_koordinator }}",
                                                                "{{ kel_info.target_koordinator }}",
                                                                "{{ kel_info.dukungan_pemilih }}",
                                                                "{{ kel_info.target_pemilih }}",

                                                            ];
                                                            var barColors = ["red", "green", "blue", "orange", ];
                                            
                                                            new Chart("myChart-{{ kel_info.id }}", {
                                                                type: "horizontalBar",
                                                                data: {
                                                                    labels: xValues,
                                                                    datasets: [{
                                                                        backgroundColor: barColors,
                                                                        data: yValues
                                                                    }]
                                                                },
                                                                options: {
                                                                    legend: { display: false },
                                                                    title: {
                                                                        display: true,
                                                                        text: "Data Capaian Kelurahan {{ kelurahan|title }}"
                                                                    },
                                                                    scales: {}
                                                                }
                                                            });
                                                        </script>

                                                        <button class="detail-tps" data-target="{{ kel_info.id }}">Detail TPS</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
    
                                            <div class="panel-tps" style="display: none;" data-target="{{ kel_info.id }}">
                                                <div class="column">
                                                    <div class="row">
                                                        <h6 class="card-subtitle mb-2 text-muted">Detail TPS di Kelurahan {{ kelurahan|title }}</h6>
                                                        {% for tps, tps_info in kel_info.tps.items %}
                                                        <div class="col-md-4">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <h4>TPS {{ tps }}</h4>
                                                                    <div class="data-table">
                                                                        <div>
                                                                            <p class="card-text">Dukungan Koordinator TPS</p>
                                                                            <p class="card-text">Target Koordinator TPS</p>
                                                                            <p class="card-text">Persentase Koordinator TPS</p>
                                                                            <p class="card-text">Dukungan Relawan</p>
                                                                            <p class="card-text">Target Relawan</p>
                                                                            <p class="card-text">Persentase Relawan</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="card-text">:  {{ tps_info.dukungan_koordinator }}</p>
                                                                            <p class="card-text">:  {{ tps_info.target_koordinator }}</p>
                                                                            <p class="card-text">:  {{ tps_info.persentase_koordinator|floatformat:3 }}%</p>
                                                                            <p class="card-text">:  {{ tps_info.dukungan_pemilih }}</p>
                                                                            <p class="card-text">:  {{ tps_info.target_pemilih }}</p>
                                                                            <p class="card-text">:  {{ tps_info.persentase_pemilih|floatformat:3 }}%</p>
                                                                        </div>
                                                                    </div>

                                                                    <canvas id="myChart-{{ tps_info.id }}" style="width:100%;max-width:800px"></canvas>
                                                                    <script>
                                                                        var xValues = [
                                                                            "Dukungan Koordinator TPS",
                                                                            "Target Koordinator TPS", 
                                                                            "Dukungan Relawan", 
                                                                            "Target Relawan", 
                                                                            ];
                                                                        var yValues = [
                                                                            "{{ tps_info.dukungan_koordinator }}",
                                                                            "{{ tps_info.target_koordinator }}",
                                                                            "{{ tps_info.dukungan_pemilih }}",
                                                                            "{{ tps_info.target_pemilih }}",

                                                                        ];
                                                                        var barColors = ["red", "green", "blue", "orange", ];
                                                        
                                                                        new Chart("myChart-{{ tps_info.id }}", {
                                                                            type: "horizontalBar",
                                                                            data: {
                                                                                labels: xValues,
                                                                                datasets: [{
                                                                                    backgroundColor: barColors,
                                                                                    data: yValues
                                                                                }]
                                                                            },
                                                                            options: {
                                                                                legend: { display: false },
                                                                                title: {
                                                                                    display: true,
                                                                                    text: "Data Capaian TPS {{ tps }}"
                                                                                },
                                                                                scales: {}
                                                                            }
                                                                        });
                                                                    </script>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
    
                    {% endfor %}
                </div>
            </div>
        </div>
        



      </div>
  </div>



    <footer class="container-fluid">
      <p>&copy; December2023</p>
    </footer>

    <style>
      
    body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    }

    .container-fluid.full-viewport {
    position: relative;
    height: 100vh;
    padding: 0;
    }

    .btn-primary {
    color: #EDF1D6;
    background-color: #40513B;
    border-color: #40513B
    }
    .btn-primary:hover {
    background-color: #909090;
    }
    .btn-secondary {
    color: #EDF1D6;
    background-color: #609966;
    border-color: #609966
    }



    #line1{
      color: #609966;
      font-family: 'Helvetica', serif;
      font-weight: 900 !important;
    }
    #line2{
      color: #2F2F2F;
      font-family: 'Helvetica', serif;
      font-weight: 900 !important;
    }
    .container {
    position: relative;
    height: 100vh; 
    width: 100%;
    }

    footer{
    position: static;
    height: auto;
    padding: 5px;
    color: #FFF6F4;
    background-color: #F86F03; 
    text-align: center;
    justify-content: center;
    }

    .card {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        min-height: 180px; 
        border-radius: 15px;
    }

    .card-body {
        margin-bottom: 10px;
        min-height: 180px; 
        align-items: center; 
        justify-content: center; 
        border-radius: 15px;
    }

    .card-wilayah{
        margin: 30px;
        justify-content: start; 
        align-items: flex-start;
        border-radius: 15px;
}

    .number {
        font-size: 50px;
        font-weight: bold; 
        text-align: center;
        color: #F86F03;
    }

    .description {
        text-align: center; 
        font-size: 22px;
        font-weight: 400;
    }

    .title{
        padding-bottom: 20px;
    }

    .detail-kecamatan{
        margin-top: 10px;
        background-color: #525FE1;
        color: #ffffff; 
        border: none; 
        padding: 6px 12px;
        border-radius: 5px; 
        height: 35px;
        text-decoration: none; 
    }
    .detail-kecamatan:hover {
        background-color: rgb(59, 69, 176); 
    }

    .detail-kelurahan{
        margin-top: 10px;
        background-color: #525FE1; 
        color: #ffffff;
        border: none; 
        padding: 6px 12px;
        border-radius: 5px; 
        height: 35px;
        text-decoration: none; 
    }
    .detail-kelurahan:hover {
        background-color: rgb(59, 69, 176); 
    }

    .detail-tps{
        margin-top: 10px;
        background-color: #525FE1;
        color: #ffffff; 
        border: none; 
        padding: 6px 12px;
        border-radius: 5px; 
        height: 35px;
        text-decoration: none;
    }
    .detail-tps:hover {
        background-color: rgb(59, 69, 176); 
    }

    .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        cursor: pointer;
    }

    .panel-kecamatan {
        margin-bottom: 30px;
    }

    .panel-kelurahan {
        margin-bottom: 30px;
    }

    .panel-tps {
        margin-bottom: 30px;
    }

    .data-table {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    margin-bottom: 0px;
}



      </style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        
        const detailKecamatanButtons = document.querySelectorAll('.detail-kecamatan');

        detailKecamatanButtons.forEach((button) => {
                button.addEventListener('click', () => {
                    const targetId = button.getAttribute('data-target');
                    const panel = document.querySelector(`.panel-kecamatan[data-target="${targetId}"]`);

                    if (panel) {
                        if (panel.style.display === 'block') {
                            panel.style.display = 'none';
                        } else {
                            panel.style.display = 'block';
                        }
                    }
                });
            });


        const detailKelurahanButtons = document.querySelectorAll('.detail-kelurahan');

        detailKelurahanButtons.forEach((button) => {
                button.addEventListener('click', () => {
                    const targetId = button.getAttribute('data-target');
                    const panel = document.querySelector(`.panel-kelurahan[data-target="${targetId}"]`);

                    if (panel) {
                        if (panel.style.display === 'block') {
                            panel.style.display = 'none';
                        } else {
                            panel.style.display = 'block';
                        }
                    }
                });
            });


        const detailTpsButtons = document.querySelectorAll('.detail-tps');
        
        detailTpsButtons.forEach((button) => {
                button.addEventListener('click', () => {
                    const targetId = button.getAttribute('data-target');
                    const panel = document.querySelector(`.panel-tps[data-target="${targetId}"]`);

                    if (panel) {
                        if (panel.style.display === 'block') {
                            panel.style.display = 'none';
                        } else {
                            panel.style.display = 'block';
                        }
                    }
                });
            });


    });

    
  </script>

</html>

{% endblock %}