{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Koordinator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="width: col-6;">
                <div class="card-body">
                    <h3>Edit Data Koordinator</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="float-end mt-2"  >
                            <button class="btn btn-sm btn-primary" type="submit">Simpan Perubahan</button>
                            <a href="{% url 'data_koordinator' %}" class="btn btn-sm btn-primary">Kembali ke Data Koordinator</a>
                        </div>
                    </form>
                </div>
              </div>

        </div>
      </div>

</body>
</html>

    
    
    

{% endblock %}